<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Confirmation</title>
    <!--    <link rel="stylesheet" th:href="@{/css/form.css}">-->
</head>
<body>
<form>
    Your name : <input readonly th:value="${user.getName()}" type="text"/>
    <br>
    your email : <input readonly th:value="${user.getEmail()}" type="email"/>
    <br>
    Enter your age : <input readonly th:value="*{user.getAge()}" type="number"/>
    <br>
    your country : <input readonly th:value="${user.getCountry()}" type="text"/>
    <br>
    your language : <input readonly th:value="${user.getFavouriteLang()}" type="text"/>
    <br>
    your OSs : <input readonly th:value="${user.getFavouriteOs()}" type="text"/>
    <br>
    your Course Code : <input readonly th:value="${user.getCourseCode()}" type="text"/>
</form>
</body>
</html>